streamlit==1.39.0
requests==2.32.3
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
folium==0.17.0
streamlit-folium==0.20.0
pyttsx3==2.90
SpeechRecognition==3.10.4
gTTS==2.5.3
Pillow==10.4.0
scikit-learn==1.5.2
torch==2.4.1
torchvision==0.19.1
transformers==4.44.2
chromadb==0.5.5


